/*
=============== 
Variables
===============
*/
:root {
	--clr-white: #fff;
	--clr-primary: rgb(248, 104, 88);
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Roboto', sans-serif;
	--spacing: 0.25rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	--clr-background: #E5E5E5;
}

/*
=============== 
Global Styles
===============
*/


/*  
===============
global classes
===============
*/

/*  
===============
Navbar
===============
*/
.nav-icon{
	opacity: 0.55;
}
.nav-icon:hover{
	opacity: 0.7;
}
/*  
===============
End of Navbar
===============
*/

/*  
===============
Banner Section
===============
*/
.section-banner{
  min-height: calc(100vh - 56px);
}
.btn-prebook{
	animation: bounce 2s ease infinite;
}
/*  
================
Button Animation
================
*/
@keyframes bounce {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
/*  
=======================
End of Button Animation
=======================
*/

/*  
======================
End of Banner Section
======================
*/

/*  
=============
Company Logo
=============
*/
@media screen and (min-width: 768px) {
	.logo-container{
		position: relative;
	}
	.logo-container::before{
		content: "";
		width: 100%;
		height: 1px;
		background: linear-gradient(to right, rgb(255, 255, 255), rgb(207, 207, 207), rgb(255, 255, 255));
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 10px;
	}
	.logo-container::after{
		content: "";
		width: 100%;
		height: 1px;
		background: linear-gradient(to right, rgb(255, 255, 255), rgb(207, 207, 207), rgb(255, 255, 255));
		position: absolute;
		bottom: 0;
		left: 0;
		border-radius: 10px;
	}
}
/*  
====================
End of Company Logo
====================
*/

/*  
====================
Popular Collection
====================
*/

/*  
=========================
End of Popular Collection
=========================
*/

/*  
=============
Photo Gallery
=============
*/

/*  
====================
End of Photo Gallery
====================
*/

/*  
==========
Footer
==========
*/

/*  
==============
End of Footer
==============
*/
